<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AMSAADTenantDomain" value="" />
    <add key="AMSRESTAPIEndpoint" value="" />
    <add key="clientid" value=""/>
    <add key="clientsecret" value=""/>
    <add key="storageconnectionstring" value=""/>
  </appSettings>
</configuration>